@model Proyecto1_1_1471_0550.Models.Procedimiento

<h2>Registrar Procedimiento</h2>

<form asp-action="Create">
    <div class="form-group">
        <label>Cédula Dueño</label>
        <input asp-for="CedulaDueno" class="form-control" />
    </div>
    <div class="form-group">
        <label>Nombre Mascota</label>
        <input asp-for="NombreMascota" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tipo de Consulta</label>
        <select asp-for="TipoConsulta"
                asp-items="Html.GetEnumSelectList<Proyecto1_1_1471_0550.Models.TipoProcedimiento>()"
                class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Estado</label>
        <select asp-for="Estado"
                asp-items="Html.GetEnumSelectList<Proyecto1_1_1471_0550.Models.EstadoProcedimiento>()"
                class="form-control"></select>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Guardar</button>
</form>

