@model Proyecto1_1_1471_0550.Models.Cliente

<h2>Editar Cliente</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label>Cédula</label>
        <input asp-for="Identificacion" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label>Nombre Completo</label>
        <input asp-for="NombreCompleto" class="form-control" />
    </div>

    <div class="form-group">
        <label>Provincia</label>
        <input asp-for="Provincia" class="form-control" />
    </div>

    <div class="form-group">
        <label>Cantón</label>
        <input asp-for="Canton" class="form-control" />
    </div>

    <div class="form-group">
        <label>Distrito</label>
        <input asp-for="Distrito" class="form-control" />
    </div>

    <div class="form-group">
        <label>Dirección Exacta</label>
        <textarea asp-for="DireccionExacta" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Teléfono</label>
        <input asp-for="Telefono" class="form-control" />
    </div>

    <div class="form-group">
        <label>Preferencia de Contacto</label>
        <select asp-for="Preferencia"
                asp-items="Html.GetEnumSelectList<Proyecto1_1_1471_0550.Models.PreferenciaContacto>()"
                class="form-control"></select>
    </div>

    <br />
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

